











<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

   
    
    <title> Movie</title>
</head>
<body>
  



    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
        <a class="navbar-brand" href="/"> Movie Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
            </li>


            
            
        
            <% if (typeof user == 'object' && user) { %>
            <li class="nav-item">
              <a class="nav-link navbar-right" href="/users/logout">Logout</a>
            </li>
         <% } %>
        

  <li class="nav-item">
              <a class="nav-link navbar-right" href="/movie/suggest">Suggest</a>
            </li>


          </ul>
        
        </div>
      </nav>
  
 

<div class="container">

<ul class="list-group">
  <div class="float-left">
    <% movies.forEach(function(movie){ %>
    <h1  class="display-4"> <%= movie.title  %></h1>
       <a href="/movie/<%= movie._id %>" >   <img src="/css/<%= movie.image%>.jpg" class="img-fluid" alt="Responsive image">  </a>  
    <% }); %>
  </div>
  </ul>



  <%- messages('messages', locals) %>

  
        <% if (typeof errors == 'object' && errors) {%>
          <% errors.forEach(function (error) { %>
            <div class="alert alert-danger"><%=error.msg%> 
            </div>
          <% }) %>
            <% } %>
        <br>
        <hr>
        <footer>
          <p>Copyright &copy; 2017</p>
        </footer>
      </div>
      <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
      <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
      <script src="https://getbootstrap.com/dist/js/bootstrap.js"></script>
      <script src="/js/main.js"></script>

</body>

</html>